openapi: 3.0.3
info:
  title: BIOMETRICS API
  description: |
    Enterprise-grade AI Agent Orchestration Platform API
    
    BIOMETRICS enables autonomous development swarms that work 24/7 with CEO-level quality standards.
    
    ## Features
    - **AI Agent Swarm System** - 5+ parallel agents working simultaneously
    - **Zero-Defect Code** - Built-in TDD, crashtests, and quality gates
    - **Self-Documenting** - Auto-generates 500+ line guides per feature
    - **Production-Ready** - 95% test coverage, enterprise security
    - **100% FREE** - Self-hosted, no paid API dependencies
    
    ## Authentication
    All API endpoints require Bearer token authentication using NVIDIA API keys.
    
    ## Rate Limits
    - Free Tier: 40 RPM (Requests Per Minute)
    - Enterprise: Unlimited
    
    For more information, visit [BIOMETRICS Documentation](https://github.com/Delqhi/BIOMETRICS).
  version: 1.0.0
  contact:
    name: BIOMETRICS Team
    url: https://github.com/Delqhi/BIOMETRICS
    email: support@biometrics.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.biometrics.dev/v1
    description: Production server
  - url: http://localhost:8080/v1
    description: Local development server

tags:
  - name: agents
    description: AI Agent management and orchestration
  - name: sessions
    description: Agent session management
  - name: tasks
    description: Task creation and monitoring
  - name: models
    description: AI model management
  - name: health
    description: System health and monitoring

paths:
  /health:
    get:
      tags:
        - health
      summary: Health check
      description: Returns the current health status of the BIOMETRICS API
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /agents:
    get:
      tags:
        - agents
      summary: List all agents
      description: Returns a list of all available AI agents in the swarm
      operationId: listAgents
      parameters:
        - name: status
          in: query
          description: Filter by agent status
          required: false
          schema:
            type: string
            enum: [active, idle, busy, offline]
        - name: limit
          in: query
          description: Maximum number of agents to return
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of agents to skip
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentList'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

    post:
      tags:
        - agents
      summary: Create new agent
      description: Creates a new AI agent in the swarm
      operationId: createAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
      responses:
        '201':
          description: Agent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /agents/{agentId}:
    get:
      tags:
        - agents
      summary: Get agent details
      description: Returns detailed information about a specific agent
      operationId: getAgent
      parameters:
        - name: agentId
          in: path
          description: Unique agent identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

    delete:
      tags:
        - agents
      summary: Delete agent
      description: Removes an agent from the swarm
      operationId: deleteAgent
      parameters:
        - name: agentId
          in: path
          description: Unique agent identifier
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Agent deleted successfully
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /agents/{agentId}/tasks:
    get:
      tags:
        - agents
      summary: List agent tasks
      description: Returns all tasks assigned to a specific agent
      operationId: listAgentTasks
      parameters:
        - name: agentId
          in: path
          description: Unique agent identifier
          required: true
          schema:
            type: string
        - name: status
          in: query
          description: Filter by task status
          required: false
          schema:
            type: string
            enum: [pending, in_progress, completed, failed]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskList'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /sessions:
    post:
      tags:
        - sessions
      summary: Create session
      description: Creates a new agent session for task execution
      operationId: createSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /sessions/{sessionId}:
    get:
      tags:
        - sessions
      summary: Get session details
      description: Returns detailed information about a specific session
      operationId: getSession
      parameters:
        - name: sessionId
          in: path
          description: Unique session identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /sessions/{sessionId}/prompt:
    post:
      tags:
        - sessions
      summary: Send prompt to session
      description: Sends a prompt to the session for processing
      operationId: sendPrompt
      parameters:
        - name: sessionId
          in: path
          description: Unique session identifier
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptRequest'
      responses:
        '200':
          description: Prompt processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /tasks:
    post:
      tags:
        - tasks
      summary: Create task
      description: Creates a new task for agent execution
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        '201':
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /tasks/{taskId}:
    get:
      tags:
        - tasks
      summary: Get task details
      description: Returns detailed information about a specific task
      operationId: getTask
      parameters:
        - name: taskId
          in: path
          description: Unique task identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /tasks/{taskId}/cancel:
    post:
      tags:
        - tasks
      summary: Cancel task
      description: Cancels a running task
      operationId: cancelTask
      parameters:
        - name: taskId
          in: path
          description: Unique task identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - BearerAuth: []

  /models:
    get:
      tags:
        - models
      summary: List available models
      description: Returns all available AI models
      operationId: listModels
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
      security:
        - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "NVIDIA API Key (format: nvapi-xxx)"

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        version:
          type: string
          example: '1.0.0'
        uptime:
          type: number
          description: Uptime in seconds
          example: 86400
        timestamp:
          type: string
          format: date-time
      required:
        - status
        - version
        - timestamp

    Agent:
      type: object
      properties:
        id:
          type: string
          example: 'agent-sisyphus-001'
        name:
          type: string
          example: 'Sisyphus'
        role:
          type: string
          enum: [coder, planner, architect, reviewer, documenter, explorer]
          example: 'coder'
        status:
          type: string
          enum: [active, idle, busy, offline]
          example: 'busy'
        model:
          type: string
          example: 'qwen/qwen3.5-397b-a17b'
        currentTask:
          type: string
          nullable: true
          description: Current task ID if busy
        tasksCompleted:
          type: integer
          example: 157
        createdAt:
          type: string
          format: date-time
        lastActiveAt:
          type: string
          format: date-time
      required:
        - id
        - name
        - role
        - status
        - model
        - createdAt

    AgentList:
      type: object
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/Agent'
        total:
          type: integer
          example: 6
        limit:
          type: integer
          example: 20
        offset:
          type: integer
          example: 0
      required:
        - agents
        - total

    CreateAgentRequest:
      type: object
      properties:
        name:
          type: string
          example: 'Custom-Agent'
        role:
          type: string
          enum: [coder, planner, architect, reviewer, documenter, explorer]
        model:
          type: string
          example: 'qwen/qwen3.5-397b-a17b'
        config:
          type: object
          description: Agent-specific configuration
      required:
        - name
        - role

    Session:
      type: object
      properties:
        id:
          type: string
          example: 'ses_abc123'
        title:
          type: string
          example: 'Build REST API'
        agentId:
          type: string
        status:
          type: string
          enum: [active, paused, completed, failed]
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - id
        - title
        - status
        - createdAt

    CreateSessionRequest:
      type: object
      properties:
        title:
          type: string
          example: 'Build REST API'
        agentId:
          type: string
          description: Agent to assign to session
        model:
          type: string
          description: Override default model
      required:
        - title

    Message:
      type: object
      properties:
        id:
          type: string
        role:
          type: string
          enum: [user, assistant, system]
        content:
          type: string
        timestamp:
          type: string
          format: date-time
      required:
        - role
        - content
        - timestamp

    PromptRequest:
      type: object
      properties:
        prompt:
          type: string
          example: 'Build a REST API with Express'
        model:
          type: string
          description: Override session model
        stream:
          type: boolean
          default: false
        parts:
          type: array
          description: Multi-modal parts (text, images, files)
          items:
            $ref: '#/components/schemas/Part'
      required:
        - prompt

    Part:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          enum: [text, file, image]
      required:
        - type

    TextPart:
      allOf:
        - $ref: '#/components/schemas/Part'
        - type: object
          properties:
            text:
              type: string

    PromptResponse:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        model:
          type: string
        usage:
          $ref: '#/components/schemas/TokenUsage'
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - content
        - createdAt

    TokenUsage:
      type: object
      properties:
        promptTokens:
          type: integer
        completionTokens:
          type: integer
        totalTokens:
          type: integer
      required:
        - promptTokens
        - completionTokens
        - totalTokens

    Task:
      type: object
      properties:
        id:
          type: string
          example: 'task-001'
        title:
          type: string
          example: 'Implement login endpoint'
        description:
          type: string
        status:
          type: string
          enum: [pending, in_progress, completed, failed, cancelled]
        priority:
          type: string
          enum: [low, medium, high, critical]
          default: medium
        agentId:
          type: string
          nullable: true
        sessionId:
          type: string
          nullable: true
        result:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
      required:
        - id
        - title
        - status
        - createdAt

    TaskList:
      type: object
      properties:
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        total:
          type: integer
      required:
        - tasks
        - total

    CreateTaskRequest:
      type: object
      properties:
        title:
          type: string
          example: 'Implement login endpoint'
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high, critical]
          default: medium
        agentId:
          type: string
          description: Assign to specific agent
        sessionId:
          type: string
          description: Associate with session
      required:
        - title

    Model:
      type: object
      properties:
        id:
          type: string
          example: 'qwen/qwen3.5-397b-a17b'
        name:
          type: string
          example: 'Qwen 3.5 397B'
        provider:
          type: string
          example: 'nvidia-nim'
        contextLimit:
          type: integer
          example: 262144
        outputLimit:
          type: integer
          example: 32768
        status:
          type: string
          enum: [available, deprecated, unavailable]
      required:
        - id
        - name
        - provider

    ModelList:
      type: object
      properties:
        models:
          type: array
          items:
            $ref: '#/components/schemas/Model'
        total:
          type: integer
      required:
        - models
        - total

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: 'AGENT_NOT_FOUND'
            message:
              type: string
              example: 'Agent with ID agent-001 not found'
            details:
              type: object
              description: Additional error details
          required:
            - code
            - message
      required:
        - error

  /api/config/toggle-delqhi-loop:
    post:
      summary: Toggle Delqhi-Loop Mode
      description: Enables or disables the infinite task production mode (Mandate 0.36)
      tags:
        - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  type: boolean
                  description: Enable or disable the loop
      responses:
        '200':
          description: Successfully toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  delqhi_loop:
                    type: boolean

  /api/config/toggle-swarm-engine:
    post:
      summary: Toggle Swarm Engine
      description: Enables or disables the parallel Swarm execution (Mandate 0.11)
      tags:
        - Configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  type: boolean
                  description: Enable or disable the swarm engine
      responses:
        '200':
          description: Successfully toggled
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  swarm_engine:
                    type: boolean

  /api/projects:
    get:
      summary: List available projects
      description: Returns a list of projects for isolation (Mandate 0.38)
      tags:
        - Projects
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
